$rhap_background-color: #000 !important;

.demo-background {
    background-color: black
}

.demo-logo {
    display: flex;
    justify-content: center;
    zoom: 0.5;
}

.demo-buttons {
    zoom: 0.5
}

.rhap_container {
    background: #0000;
}